version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    labels:
      - "chore"
    commit-message:
      prefix: "chore(deps)"

  - package-ecosystem: "pip"
    directory: "/scripts"
    schedule:
      interval: "weekly"
      day: "monday"
    labels:
      - "chore"
    commit-message:
      prefix: "chore(deps)"
